extends ../includes/layout

mixin form
    form.form-signin(method='post', action='/login')
        h2.form-signin-heading=i18n('login.header')
        if redirect
            input(type='hidden', name='redirect', value=redirect)
        label.sr-only(for='inputEmail')=i18n('login.email')
        input#inputEmail.form-control(type='email', placeholder=i18n('login.email'), required='', autofocus='' name='email')
        label.sr-only(for='inputPassword')=i18n('login.password')
        input#inputPassword.form-control(type='password', placeholder=i18n('login.password'), required='', name='password')
        //-.checkbox
            label
                input(type='checkbox', value='remember-me')
                |  Remember me
        if error
            input.btn.btn-lg.btn-danger.btn-block(type='submit' value=i18n('login.signin'))
        else
            input.btn.btn-lg.btn-primary.btn-block(type='submit' value=i18n('login.signin'))


block content
    if error
        .card.card-outline-danger
            .card-block
                div.alert.alert-danger(role='alert')
                    strong= error
                +form
    else
        .card
            .card-block
                +form

