extends ../includes/layout

block content
    .card
        h5.card-header=i18n('settings.title')
        .card-block
            //-var message = "123"
            if message
                //.row
                .alert.alert-info(role='alert')
                    strong=i18n('settings.message')
                    | #{message}
            .row
                .col-sm-6.mb-3
                    h5=i18n('settings.password.title')
                    form(method='post' action='/settings')
                        .form-group
                            label(for='inputOldPass')=i18n('settings.password.oldpass')
                            input#inputOldPass.form-control(type='password', name='oldPass', required)

                        .form-group
                            label(for='inputPassword')=i18n('settings.password.password')
                            input#inputPassword.form-control(type='password', name='password', required)

                        .form-group
                            label(for='inputRePassword')=i18n('settings.password.repassword')
                            input#inputRePassword.form-control(type='password', name='repassword', required)
                        input(type='hidden' name='action' value='newPassword')

                        button.btn.btn-primary.mb-4.mb-md-0(type='submit')=i18n('settings.password.change')
                if !localUser.isTeacher
                    .col-sm-6.mb-3
                        h5=i18n('settings.lab.title')
                        form(method='post' action='/settings')
                            .form-group
                                label(for='inputLabSelect')=i18n('settings.lab.choose')
                                select#inputLabSelect.selectpicker(name='lab', data-live-search="true")
                                    //- console.log(labs)
                                    each l in labs
                                        option(value=l.name, data-subtext=l.owner.fullName())= l.name
                            .form-group
                                label(for='inputLabSelectPass')=i18n('settings.lab.confirmpass')
                                input#inputLabSelectPass.form-control(type='password', name='passlabconf', required)

                            input(type='hidden' name='action' value="newLab")

                            button.btn.btn-primary(type='submit')=i18n('settings.lab.change')
                .col-sm-6.mb-3
                    h5=i18n('settings.language.title')
                    form(method='post' action='/settings', name='languagePreference')
                        //.form-group
                        //    label(for='inputLanguage')=i18n('settings.language.label')
                        //    input#inputLanguage.form-control(type='text', name='language', value=req.localUser.languagePreference)
                        input(type='hidden' name='action' value='languagePreference')
                        .row
                            //- https://github.com/twitter/twemoji/blob/gh-pages/README.md#attribution-requirements
                            // Twitter Emoji (Twemoji)
                            // Copyright 2017 Twitter, Inc and other contributors
                            // Graphics licensed under CC-BY 4.0: https://creativecommons.org/licenses/by/4.0/
                            .col-4.text-center
                                img(src='/images/pol.png').img-fluid
                            .col-4.text-center
                                img(src='/images/eng.png').img-fluid
                            .col-4.text-center
                                img(src='/images/ukr.png').img-fluid
                        .form-group.row
                            .col-4.text-center
                                label.custom-control.custom-radio
                                    if (req.i18n.locale === 'pl')
                                        input#inputLanguage1.custom-control-input(name='language', type='radio', value='pl' checked)
                                    else
                                        input#inputLanguage1.custom-control-input(name='language', type='radio', value='pl')
                                    span.custom-control-indicator
                                    span.custom-control-description PL
                            .col-4.text-center
                                label.custom-control.custom-radio
                                    if (req.i18n.locale === 'en')
                                        input#inputLanguage2.custom-control-input(name='language', type='radio', value='en' checked)
                                    else
                                        input#inputLanguage2.custom-control-input(name='language', type='radio', value='en')
                                    span.custom-control-indicator
                                    span.custom-control-description EN
                            .col-4.text-center
                                label.custom-control.custom-radio
                                    if (req.i18n.locale === 'uk')
                                        input#inputLanguage3.custom-control-input(name='language', type='radio', value='uk' checked)
                                    else
                                        input#inputLanguage3.custom-control-input(name='language', type='radio', value='uk')
                                    span.custom-control-indicator
                                    span.custom-control-description UA
                        .text-center
                            input.btn.btn-primary.mb-4.mb-md-0(type='submit', value=i18n('settings.language.change'))