extends ../includes/layout
mixin fileIcon(file)
    div.col-6.col-md-4.col-lg-2.mb-4
        p
            if file.fileExt === 'cpp' || file.fileExt === 'h' || file.fileExt === 'c'
                i.fa.fa-file-code-o.fa-3x
            else if file.fileExt === 'bmp' || file.fileExt === 'png' || file.fileExt === 'jpg'
                i.fa.fa-file-image-o.fa-3x
            else if file.fileExt === 'txt'
                i.fa.fa-file-text-o.fa-3x
            else
                i.fa.fa-file-o.fa-3x
        code=file.fileName + '.' + file.fileExt
block content
    .card
        .card-header
            ul.nav.nav-tabs.nav-fill.task-tab
                li.nav-item
                    a.nav-link.active(data-toggle='tab', href='#task', aria-expanded='true') Zadanie
                li.nav-item
                    a.nav-link(data-toggle='tab', href='#files', aria-expanded='false') Pliki
                li.nav-item
                    a.nav-link(data-toggle='tab', href='#comments', aria-expanded='false') Komentarze
                        span.badge.badge-pill.badge-primary 2

        .card-block
            #myTabContent.tab-content
                #task.tab-pane.fade.in.active.show(aria-expanded='true')
                    //-h1 Topic: #{topic.id}
                    h3 Temat: #{topic.number}. #{topic.title}
                    h5 Opis tematu: #{task.description}
                    h5 Treść zadania:
                    .card
                        - var taskcontent = '<h1 id="hello">hello</h1>\n<p><strong>test</strong></p>\n<div class="sourceCode"><pre class="sourceCode javascript"><code class="sourceCode javascript"><span class="kw">var</span> test <span class="op">=</span> <span class="st">&quot;123&quot;</span><span class="op">;</span></code></pre></div>\n<p>$$<br />\n\\Gamma(z) = \\int_0^\\infty t^{z-1}e^{-t}dt\\,.<br />\n$$</p>\n<p>👋 😂</p>'
                        #task-content.card-block!= taskcontent


                #files.tab-pane.fade(aria-expanded='false')
                    if !taskReply
                        h1 nie ma
                    else
                        //-
                            h1 Task reply student: #{taskReply.student}
                            h1 Task reply task: #{taskReply.task}
                            h1 Task reply teacherStatus: #{taskReply.teacherStatus}
                            h1 Task reply machineStatus: #{taskReply.machineStatus}
                        .card.text-center
                            .card-header
                                | A: #{taskReply.student} B: #{taskReply.task}
                                | C: #{taskReply.teacherStatus} D: #{taskReply.machineStatus}
                            .card-block
                                .row
                                    each file in taskReplyFiles
                                        +fileIcon(file)
                                        +fileIcon(file)
                                        +fileIcon(file)
                                        +fileIcon(file)


                            .card-footer.text-muted
                                | lorem ipsum

                #comments.tab-pane.fade(aria-expanded='false')
                    //h1 Task comments: #{taskComments[0].reply}
                    -var top = topic.id
                    -var tas = task.id
                    -var tasRep = taskReply.id
                    button(onclick='viewed(' + top + ',' + tas + ',' + tasRep + ')')
                        | elo
                    each com in taskComments
                        h1 User add: #{com.user.fullName()}
                        h1 comment: #{com.comment}
                        p createdAt: #{com.createdAt}
                        if !com.viewed
                            h1#elo nieprzeczytane
                        else
                            h1#elo przeczytane


        script.
          var currenttopic = #{topic.id}
          function viewed (topic, task, taskReply) {
            var response = $.ajax({
              url: '/topic/' + topic + '/task/' + task,
              method: "POST",
              data: {
                'taskReply': taskReply
              }
            });

            response.done(function (msg) {
              console.log(msg);

            });
          }

//-block content

    h1





