extends ../includes/layout

block content
    //h1 Topic: #{topic.id}
    h1 Topic number: #{topic.number}
    h1 Topic title: #{topic.title}
    br

    h1 Task number: #{task.number}
    h1 Task name: #{task.title}
    h1 Task description: #{task.description}


    if !taskReply
        h1 nie ma

    else
        h1 Task reply student: #{taskReply.student}
        h1 Task reply task: #{taskReply.task}
        h1 Task reply teacherStatus: #{taskReply.teacherStatus}
        h1 Task reply machineStatus: #{taskReply.machineStatus}


        //h1 Task comments: #{taskComments[0].reply}
        -var top = topic.id
        -var tas = task.id
        -var tasRep = taskReply.id
        button(onclick='viewed('+top+','+tas+','+tasRep+')')
            |elo
        each com in taskComments
            h1 User add: #{com.user.fullName()}
            h1 comment: #{com.comment}
            p createdAt: #{com.createdAt}
            if !com.viewed
                h1#elo nieprzeczytane


        script.
            function viewed(topic, task, taskReply) {
                var response = $.ajax({
                    url: '/topic/' + topic + '/task/' + task,
                    method: "POST",
                    data: {
                        'taskReply': taskReply
                    }
                });

                response.done(function ( msg ) {
                    console.log(msg);

                });
            }