extends ../includes/layout

block content
    //h1 Topic: #{topic.id}
    h1 Topic number: #{topic.number}
    h1 Topic title: #{topic.title}
    br

    h1 Task number: #{task.number}
    h1 Task name: #{task.title}
    h1 Task description: #{task.description}


    if !taskReplie
        h1 nie ma

    else
        h1 Task replie student: #{taskReplie.student}
        h1 Task replie task: #{taskReplie.task}
        h1 Task replie teacherStatus: #{taskReplie.teacherStatus}
        h1 Task replie machineStatus: #{taskReplie.machineStatus}


    //h1 Task comments: #{taskComments[0].reply}
    -var top = topic.id
    -var tas = task.id
    -var tasRep = taskReplie.id
    button(onclick='viewed('+top+','+tas+','+tasRep+')')
        |elo
    each com in taskComments
        h1 User add: #{com.user.fullName()}
        h1 comment: #{com.comment}
        p createdAt: #{com.createdAt}

        if !com.viewed
            h1#elo nieprzeczytane
        else
            h1#elo przeczytane

    script.
        function viewed(topic, task, taskReplie) {
            var response = $.ajax({
                url: '/topic/' + topic + '/task/' + task,
                method: "POST",
                data: {
                    'taskReplie': taskReplie
                }
            });

            response.done(function ( msg ) {
                console.log(msg);

            });
        }