mixin topiclist(tooltip, value, color)
    if color === undefined
        - var color = 'primary'
    li.list-group-item.flex-nowrap
        span.badge.badge-pill.taskcount(class='badge-' + color)= value
        | #{tooltip}

mixin topicentry(id, title, percent, values)
    .card.list-group-item.list-group-item-hover.flex-column.align-items-start.topic-entry.collapsed(data-toggle='collapse', data-parent='#topics-accordion', href='#topic-collapse-' + id, aria-expanded='false', aria-controls='topic-collapse-' + id, id="topic-a-" + id)
        .w-100(id='topic-entry-' + id, role='tab')
            a
                //-(href='/account/topics/'+ id + '/tasks')
                .d-flex.w-100.justify-content-between.mb-2
                    h5.mb-2.mr-2.topic-title=title
                    button.btn.btn-secondary.align-self-start.button-topicview(id='button-topicview-' + id, data-topicid=id)
                        i.fa.fa-arrow-right(aria-hidden='true')



                small.text-muted

                .progress.w-100
                    if percent < 37
                        .progress-bar.bg-danger(role='progressbar', aria-valuenow=percent, aria-valuemin='0', aria-valuemax='100', style='width: ' + percent + '%')
                    else if percent < 75
                        .progress-bar.bg-warning(role='progressbar', aria-valuenow=percent, aria-valuemin='0', aria-valuemax='100', style='width: ' + percent + '%')
                    else
                        .progress-bar.bg-success(role='progressbar', aria-valuenow=percent, aria-valuemin='0', aria-valuemax='100', style='width: ' + percent + '%')

        .collapse.w-100(id='topic-collapse-' + id, role='tabpanel', aria-labelledby='topic-entry-' + id)
            ul.list-group.w-100.mt-2
                +topiclist("Wszystkie dostępne zadania", values[0])
                +topiclist("Przesłane rozwiązania", values[1], 'info')
                +topiclist("Zatwierdzone rozwiązania ", values[2],'success')
                +topiclist("Niezaliczone zadania", values[3] , 'danger')
                +topiclist("Rozwiązania z uwagami/komentarzami prowadzącego", values[4], 'warning')
                +topiclist("Rozwiązania z pozytywnym raportem maszynowym", values[5], 'success')
                +topiclist("Rozwiązania z negatywnym raportem maszynowym", values[6], 'danger')
                +topiclist("Zadania zaliczone", values[7], 'success')


.list-group#topics-accordion(role='tablist', aria-multiselectable='true')
    //-code=JSON.stringify(data)
    each t in data.topics
        +topicentry(t.topicId, t.topicNumber + '. ' + t.topicTitle, t.repliesAccepted/t.taskCount*100, [t.taskCount, t.repliesCount, t.repliesTeacherAccepted, t.repliesTeacherRejected+t.repliesBlocked, t.repliesCommented, t.repliesMachineAccepted, t.repliesMachineRejected, t.repliesAccepted])



