doctype html
html(lang=req.i18n.locale)
    head
        block pugincludes

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        if title
            title #{title} :: #{brand}
        else
            title= brand
        include styles
    body
        noscript
            .container
                .alert.alert-danger(role='alert')
                    h4.alert-heading=i18n('noscript.header')
                    p.mb-0=i18n('noscript.body')


        include nav



        .container
            code DEBUG:
            code=i18n('locale')
            code=req.i18n.locale

            include breadcrumbs

            block content

        .container-fluid
            block fluid

        #modalContainer

        include scripts
        block scripts
