extends ../../includes/layout

block content
    if (message !== undefined && message && (message.length > 0 ))
        .alert.alert-danger(role='alert')
            strong Wiadomość:
            |  #{message}
    .row
        .col-md-12.col-lg-4
            include ../menu

        .col-md-12.col-lg-8
            .card
                .card-header
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link(href='/teacher/topics-and-tasks/')=i18n('teacher.listing')
                        li.nav-item
                            a.nav-link.active()=i18n('teacher.adding')
                .card-block
                    form(method='post')
                        .form-group
                            label(for='number')=i18n('teacher.tt.number')
                            input.form-control#number(name='topicNumber', required, value=(param ? param('topicNumber') : ''))
                        .form-group
                            label(for='title')=i18n('teacher.tt.title')
                            br
                            input.form-control#title(name='topicTitle', required, value=(param ? param('topicTitle') : ''))
                        .form-group
                            label(for='dead')=i18n('teacher.tt.deadline')
                            input.form-control#dead(name='topicDeadline', type='date', required, value=(param ? param('topicDeadline') : ''))


                        input.btn.btn-primary(type='submit', value=i18n('teacher.tt.add'))