extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4
            include ../menu
        //.hidden-md-down.col-lg-8#tasks-column
            //-include tasks
        .col-md-12.col-lg-8
            .card
                .card-header.text-center
                    strong Tasks and Topics
                .card-block
                    a.btn.btn-primary(href="/teacher/topics-and-tasks/topic/add") Dodaj temat

                table.table.table-striped.responsive.table-grouplist
                    thead
                        tr
                            th ID
                            th(colspan=3) Temat
                            th Deadline
                    tbody#tablebody
                        each topic in data
                            -var id= topic.id
                            tr(onclick='ttSelectTopic(' + topic.id + ')', style='cursor: pointer;')
                                td.text-center=topic.id
                                td(class='w-100')=topic.number + '. ' + topic.title
                                td
                                    button.btn.btn-sm.btn-danger(data-id=id onclick="delTopic("+id+")") Usuń
                                td
                                    a.btn.btn-sm.btn-primary(href="/teacher/topics-and-tasks/topic/edit/"+id) Edytuj
                                td(width="80px")=topic.deadline


        script.
          var topics = !{JSON.stringify(data).replace(/<\//g, '<\\/')}
          var saved = '';

