extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4
            include ../menu
        //.hidden-md-down.col-lg-8#tasks-column
            //-include tasks
        .col-md-12.col-lg-8
            .card
                .card-header
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link.active()=i18n('teacher.listing')
                        li.nav-item
                            a.nav-link(href='/teacher/topics-and-tasks/topic/add')=i18n('teacher.adding')

                table.table.table-striped.responsive.table-grouplist
                    thead
                        tr
                            th.wb-initial(style='width: 50px')=i18n('teacher.table.id')
                            th=i18n('teacher.table.title')
                            th(style='width: 70px')
                            th(style='width: 70px')
                            th(style='width: 100px')=i18n('teacher.table.deadline')
                    tbody#tablebody
                        if typeof(data[0]) === 'undefined'
                            tr
                                td(colspan=5).text-center=i18n('teacher.tt.notopics.%s', i18n('teacher.adding'))
                        else
                            each topic in data
                                -var id= topic.id
                                tr.ttSelectTopic(data-topicid=topic.id, style='cursor: pointer;')
                                    th.text-center(scope='row')=topic.id
                                    td=topic.number + '. ' + topic.title
                                    td
                                        button.btn.btn-sm.btn-danger.deleteTopicButton(data-id=id)=i18n('teacher.tt.remove')
                                    td
                                        button.btn.btn-sm.btn-primary.editTopicButton(data-id=id)=i18n('teacher.tt.edit')
                                    td=topic.deadline
            script#tmplTableTT(type='text/x-jsrender')
                tr
                    td
                        i.fa.fa-arrow-left.fa-lg.ttGetBackButton(style='cursor: pointer;', aria-hidden='true')
                    td {{:topicNumber}}. {{:topicTitle}}
                    td
                    td
                    td.text-nowrap {{:topicDeadline}}
                tr
                    td(colspan='5')
                        table.table.table-bordered.table-striped.table-hover.responsive
                            tbody
                                a.btn.btn-primary.mb-3(href='/teacher/topics-and-tasks/topic/{{:topicId}}/task/add') Dodaj zadanie
                                | {{for task}}
                                tr(style='cursor: pointer;')
                                    td {{:id}}
                                    td(onclick="document.location=\'/teacher/topics-and-tasks/view/{{:id}}\'") {{:number}}. {{:title}}
                                    td.text-center.align-middle
                                        a.btn.btn-sm.btn-primary(href='/teacher/topics-and-tasks/task/edit/{{:id}}') Edytuj
                                    td.text-center.align-middle
                                        | {{if arduino}}
                                        i.fa.fa-microchip.text-success
                                        | {{else}}
                                        i.fa.fa-microchip.text-danger
                                        | {{/if}}
                                    td.text-center.align-middle
                                        | {{if computer}}
                                        i.fa.fa-desktop.text-success
                                        | {{else}}
                                        i.fa.fa-desktop.text-danger
                                        | {{/if}}
                                    td.text-center
                                        a.btn.btn-sm.btn-link.taskUpButton(data-id='{{:id}}', data-place='{{:place}}', data-topic='{{:topic}}')
                                            i.fa.fa-lg.fa-arrow-up
                                        a.btn.btn-sm.btn-link.taskDownButton(data-id='{{:id}}', data-place='{{:place}}', data-topic='{{:topic}}')
                                            i.fa.fa-lg.fa-arrow-down
                                | {{/for}}

        script.
          var topics = !{JSON.stringify(data).replace(/<\//g, '<\\/')}
          var saved = '';

