extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4
            include ../menu

        .col-md-12.col-lg-8
            .card
                .card-header.d-flex.justify-content-between
                    a.btn.btn-primary.btn-sm(href='/teacher/topics-and-tasks/task/edit/' + task.id)=i18n('teacher.tt.edit')
                    strong=i18n('breadcrumbs.tt.previewtask')
                    button.deleteTaskButton.btn.btn-danger.btn-sm(data-id=task.id)=i18n('teacher.tt.remove')

                .card-block
                    h1.text-center= task.topic.number + '. ' + task.topic.title
                    h2.text-center= task.number + '. ' + task.title
                    .card
                        if description
                            #task-content.card-block!= description
                        else
                            .card-block
                                p=i18n('teacher.tt.task.nodescription')