extends ../../includes/layout

block content

    .row
        .hidden-md-down.col-lg-4
            include ../menu
        .col-md-12.col-lg-8
            script#tmplRemoveTTModal(type='text/x-jsrender')
                #removeTTModal.removeModal.modal.fade
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title
                                    | {{if error}}
                                    =i18n('teacher.tt.removingtask.title.error')
                                    | {{else}}
                                    =i18n('teacher.tt.removingtask.title')
                                    | {{/if}}
                                button.close(type='button', data-dismiss='modal', aria-label=i18n('student.task.modal.cancel'))
                                    span(aria-hidden='true') ×
                            .modal-body
                                | {{if error}}
                                =i18n('teacher.tt.removingtask.error')
                                | {{else}}
                                =i18n('teacher.tt.removingtask.%s', '{{:id}}')
                                | {{/if}}

                            .modal-footer
                                | {{if !error}}
                                button.btn.btn-danger.deleteTaskButton(type='button', data-id='{{:id}}')=i18n('student.task.modal.remove')
                                | {{/if}}
                                | {{if !error}}
                                button.btn.btn-secondary(type='button', data-dismiss='modal')=i18n('student.task.modal.cancel')
                                | {{else}}
                                button.btn.btn-warning(type='button', data-dismiss='modal')=i18n('teacher.tt.removingtopic.ok')
                                | {{/if}}
            .card
                .card-header.d-flex.justify-content-between
                    a.btn.btn-primary.btn-sm(href='/teacher/topics-and-tasks/task/edit/' + task.id)=i18n('teacher.tt.edit')
                    strong=i18n('breadcrumbs.tt.previewtask')
                    button.deleteTaskModalButton.btn.btn-danger.btn-sm(data-id=task.id)=i18n('teacher.tt.remove')

                .card-block
                    .col-12
                        .row
                            if nextPrev && nextPrev.prevTopicTask
                                .col-2.text-center
                                    a.btn.btn-secondary.next-prev(href='/teacher/topics-and-tasks/view/' + nextPrev.prevTopicTask)
                                        i.fa.fa-arrow-left
                            else
                                .offset-2
                            .col-8
                                h2.text-center=task.topic.number + '. ' + task.topic.title
                            if nextPrev && nextPrev.nextTopicTask
                                .col-2.text-center
                                    a.btn.btn-secondary.next-prev(href='/teacher/topics-and-tasks/view/' + nextPrev.nextTopicTask)
                                        i.fa.fa-arrow-right
                        .row
                            if nextPrev && nextPrev.prevTask
                                .col-2.text-center
                                    a.btn.btn-secondary.next-prev(href='/teacher/topics-and-tasks/view/' + nextPrev.prevTask)
                                        i.fa.fa-arrow-left
                            else
                                .offset-2
                            .col-8
                                h3.text-center=task.number + '. ' + task.title
                            if nextPrev && nextPrev.nextTask
                                .col-2.text-center
                                    a.btn.btn-secondary.next-prev(href='/teacher/topics-and-tasks/view/' + nextPrev.nextTask)
                                        i.fa.fa-arrow-right
                    .card
                        if description
                            #task-content.card-block!= description
                        else
                            .card-block
                                p=i18n('teacher.tt.task.nodescription')