extends ../includes/layout

block scripts
    script.
      $('#setAllAsRead').on('change', function () {
        $('.checks').prop('checked', this.checked);
      })

block content

    .row
        .hidden-md-down.col-lg-4
            include menu
        .col-md-12.col-lg-8
            //-include tasks
            .card
                .card-header.text-center
                    strong=i18n('teacher.messages')


                form(method='post', action='/teacher/markAsRead')
                    table.table.table-striped.table-hover.table-responsive.table-grouplist.wb-initial
                        thead
                            tr
                                th.align-middle
                                    label.custom-control.custom-checkbox.custom-checkbox-notifications
                                        input.custom-control-input(type='checkbox', id='setAllAsRead')
                                        span.custom-control-indicator

                                th.w-100=i18n('teacher.table.message')
                                th.text-center=i18n('teacher.table.date')
                        tbody
                            if actions && actions.length!==0
                                each action in actions
                                    tr
                                        th.align-middle
                                            label.custom-control.custom-checkbox.custom-checkbox-notifications
                                                input.custom-control-input.checks(name='actions' value=action.id, type='checkbox', id='setAllAsRead')
                                                span.custom-control-indicator
                                        td !{action.message}
                                        td.text-center=action.updatedAt
                            else
                                tr
                                    td.text-center(colspan=4)=i18n('teacher.dashboard.nomessages')
                    .card-block
                        input.btn.btn-primary.btn-block(type='submit' value=i18n('student.task.comment.markasread'))