mixin commentBlock(com, hidden)
    .list-group-item.list-group-item-action.flex-column.align-items-start(style=(hidden ? 'display: none;': ''))
        .d-flex.w-100.justify-content-between
            h6.mb-1
                if com.user
                    strong.task-c-author=(com.user ? com.user.fullName() : '')
                    if com.user.isTeacher
                        span.badge.badge-primary.ml-2
                            i.fa.fa-bolt.fa-lg
                    span.ml-2=i18n('student.task.wrote')
                else
                    strong.task-c-author
                        span.badge.badge-info=i18n('student.task.sysmsg')
            //- TODO: @david, tu nie powinno mi zwracac z backendu godziny, tak jak w ajaxowych komentach? dziwne to. !!
            small.text-muted.task-c-timestamp.text-nowrap=com.createdAt
        p.mb-1.task-c-comment=com.comment
        if !com.viewed
            div.text-right.w-100
                small.text-muted.task-c-read
                    span.fa-stack.fa-lg
                        i.fa.fa-circle-thin.fa-stack-2x
        else
            div.text-right.w-100
                small.text-muted.task-c-read
                    span.fa-stack.fa-lg.text-primary
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-check.fa-inverse.fa-stack-1x
div.d-flex.labTaskRow.mt-3
    .col-12
        .form-inline
            h4.mt-1=lab.name
            .input-group.ml-4
                .input-group-addon
                    i.fa.fa-search
                input.form-control(placeholder="Search // todo: 😉 ")

        hr
        .col-12.well.replySortRow
            if !data
                h5 Brak aktywnych studentów w grupie
            else
                each student in data
                    .col-12.col-sm-10.col-md-8.col-lg-6.col-xl-4.studentCard(id='studentCard-'+ student.id, style='display: inline-block;vertical-align:top;float: none;')
                        .card.replySortable(id=(student.reply ? 'reply-' + student.reply.id : ''), style=(student.reply ? (student.reply.blocked ? 'background-color:rgba(200,0,0,0.7);' : (!student.reply.newest ? 'background-color:rgba(100,100,100,0.7);' : (student.reply.teacherStatus === 2 ? 'background-color:rgba(200,0,0,0.7);' : (student.reply.teacherStatus === 1 ? 'background-color:lightgreen;' : '')))) : ''))
                            .card-header.d-flex.justify-content-end.p-0.replySortHandle
                                .mr-auto.p-2.w-100.replySortableTitle
                                    .btn.btn-sm
                                        .fa.fa-bars.fa-lg
                                    strong(title=student.name + ' ' + student.surname)=student.name + ' ' + student.surname
                                .pt-2.pb-2
                                    button.btn.btn-info.btn-sm(type='button', data-toggle='collapse', data-target='#replyCollapse-' + student.id, aria-expanded='true', aria-controls='#replyCollapse-' + student.id)
                                        .fa.fa-window-minimize
                                .p-2
                                    button.btn.btn-danger.btn-sm.replySortableClose(data-closecard=student.id)
                                        .fa.fa-times
                            //.card-block.collapse(id=(student.reply ? 'replyCollapse-' + student.reply.id : ''))
                            .card-block.collapse.show(id='replyCollapse-' + student.id)
                                .form-group
                                    label Czas na odpowiedź:
                                    .input-group.replySortDate
                                        input.form-control.dateInput(id='deadline-student-' + student.id + '-task-' + task.id, type='date', value=student.deadline)
                                        button.btn.btn-success.dateSave(data-studentid=student.id, data-taskid=task.id) Zapisz
                                        button.btn.btn-danger.dateErase(data-studentid=student.id, data-taskid=task.id) Skasuj
                                hr

                                if !student.reply
                                    div
                                        h6 Odpowiedź:
                                        p Brak
                                else
                                    div
                                        h6 Odpowiedź:
                                        if !student.reply.newest
                                            div
                                                b Odpowiedź nie jest ostateczna
                                        else
                                            div.form-group.row
                                                label.col-4.col-form-label Ocena
                                                .col-8
                                                    select.form-control.setTeacherStatus(data-studentreplyid=student.reply.id)
                                                        each option in [{'id':0, 'name':'Nieocenione'}, {'id':1, 'name': 'Zaliczone'}, {'id':2, 'name':'Niezaliczone'}]
                                                            if student.reply.teacherStatus === option.id
                                                                option(value=option.id, selected)=option.name
                                                            else
                                                                option(value=option.id)=option.name
                                        - var tests = {'0':'Nierozpoczęte', '1':'W kolejce', '2':'Zaliczone', '3':'Niezaliczone'}
                                        div.form-group.row
                                            label.col-4.col-form-label Testy Maszynowe
                                            .col-8
                                                span.form-control #{tests[student.reply.machineStatus]}
                                        div.form-group.row
                                            label.col-4.col-form-label Status
                                            .col-8
                                                .mt-1
                                                    label.custom-control.custom-checkbox
                                                        if student.reply.blocked
                                                            input.custom-control-input.setBlocked(type='checkbox', name='blocked', data-studentid=student.id, data-taskid=task.id, data-studentreplyid=student.reply.id, checked)
                                                        else
                                                            input.custom-control-input.setBlocked(type='checkbox', name='blocked', data-studentid=student.id, data-taskid=task.id, data-studentreplyid=student.reply.id)
                                                        span.custom-control-indicator
                                                        span.custom-control-description Zablokowane

                                        div Odpowiedź po raz: #{student.reply.count}
                                        if student.reply.newest
                                            div
                                                // TODO: Seba dodaj jakieś potwierdzenie czy aby napewno chce się to zrobić
                                                    // todo: ok
                                                button.btn.btn-danger.repostTask(id='repost-reply-' + student.reply.id, data-studentid=student.id, data-taskid=task.id, data-studentreplyid=student.reply.id, style=(student.reply.blocked ? 'display:none' : '')) Przydziel zadanie ponownie
                                    hr
                                    div
                                        h6 Pliki
                                        .studentCardMaxHeight.mb-3
                                            ul.list-group
                                                each file in student.reply.files
                                                    //div(style='border:1px solid black; margin-bottom:10px;background-color:white;')
                                                    li.list-group-item
                                                        .w-100
                                                            div='Nazwa: ' + file.fileName + '.' + file.fileExt
                                                            div='Rozmiar: ' + file.fileSize

                                                            div='MimeType: ' + file.fileMimeType

                                                            h7 Tresc:
                                                            div
                                                                if file.file.err
                                                                    pre(style='border:1px solid black;margin:1px;padding:1px;overflow: auto;white-space: normal;')
                                                                        b BŁĄD
                                                                        | Brak zawartości pliku, najpewniej został źle przesłany
                                                                else if file.fileMimeType.includes('text/')
                                                                    if ['h', 'c', 'hpp', 'cpp'].includes(file.fileExt)
                                                                        pre !{file.file}
                                                                    else
                                                                        pre=file.file
                                                                else if file.fileMimeType === 'image/png'
                                                                    img.img-fluid(src='data:image/pmg;base64,' + file.file)
                                                                else if file.fileMimeType === 'image/bmp'
                                                                    img.img-fluid(src='data:image/bmp;base64,' + file.file)
                                                                else
                                                                    pre Nieobsługiwane rozszerzenie
                                hr
                                div
                                    h6 Komentarze:
                                    - let comment = _.last(student.comments)
                                    - comment = (comment? comment.id : 0)
                                    .studentCardMaxHeight.mb-3
                                        .list-group(id='comments-student-' + student.id, data-last=comment)
                                            if student.comments
                                                each com in student.comments
                                                    +commentBlock(com)
                                    //-div(id='comments-student-' + student.id, data-last=comment, style='max-height:400px;overflow:auto')
                                        if student.comments
                                            each comment in student.comments
                                                div(id='comments-student-' + student.id + '-comment-' + comment.id, style='border:1px solid black;margin:1px;padding:1px;')
                                                    div='Autor: ' + comment.user.name + ' ' + comment.user.surname
                                                    div='Data: ' + comment.createdAt
                                                    div='Przeczytane: ' + comment.viewed
                                                    div Treść:
                                                        div(style='border:1px solid black;margin:1px;padding:1px;background-color:white;')
                                                            p(style='overflow: auto;margin: 0;white-space: normal;')=comment.comment
                                    div(id='loading-student-' + student.id, style='display:none')
                                        | Ładowanie
                                        i.fa.fa-spinner.fa-spin
                                    .input-group
                                        textarea.form-control.task-comment-textarea(id='commentTextArea-' + student.id, type='text', placeholder='Komentarz', name='comment', rows='1')
                                        span.input-group-btn
                                            button.sendCommentButton.btn.btn-primary(data-studentid=student.id, data-taskid=task.id, type='button') Wyślij
                                            button.checkCommentsButton.btn.btn-primary(data-studentid=student.id, data-taskid=task.id, type='button') Odśwież
