extends ../../includes/layout

block content
    script#tmplCommentAjax(type='text/x-jsrender')
        .list-group-item.list-group-item-action.flex-column.align-items-start
            .d-flex.w-100.justify-content-between
                h5.mb-1
                    strong.task-c-author
                        span.task-c-author-studentname {{:name}}
                        | {{if teacher}}
                        span.badge.badge-primary.ml-2=i18n('student.task.teacher')
                        | {{/if}}
                        span.ml-2=i18n('student.task.wrote')
                small.text-muted.task-c-timestamp {{:timestamp}}
            p.mb-1.task-c-comment {{:comment}}
            div.text-right.w-100
                | {{if read}}
                small.text-muted.task-c-read
                    span.fa-stack.fa-lg.text-primary
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-check.fa-inverse.fa-stack-1x
                | {{else}}
                small.text-muted.task-c-read
                    span.fa-stack.fa-lg
                        i.fa.fa-circle-thin.fa-stack-2x
                | {{/if}}
    .row
        .col-md-12.col-lg-4
            include ../menu
        .col-md-12.col-lg-8

            //-include tasks
            .card
                .card-header.text-center
                    strong Sprawdzanie odpowiedzi do zadań

                .card-block

                    .col-12
                        .row
                            if nextPrev && nextPrev.prevTopicTask
                                .col-2.text-center
                                    a.btn.btn-secondary(href="/teacher/replies/view/" + nextPrev.prevTopicTask)
                                        i.fa.fa-arrow-left
                            else
                                .offset-2
                            .col-8
                                h2.text-center=data.topic.number + '. ' + data.topic.title
                            if nextPrev && nextPrev.nextTopicTask
                                .col-2.text-center
                                    a.btn.btn-secondary(href="/teacher/replies/view/" + nextPrev.nextTopicTask)
                                        i.fa.fa-arrow-right
                        .row
                            if nextPrev && nextPrev.prevTask
                                .col-2.text-center
                                    a.btn.btn-secondary(href="/teacher/replies/view/" + nextPrev.prevTask)
                                        i.fa.fa-arrow-left
                            else
                                .offset-2
                            .col-8
                                h3.text-center=data.number + '. ' + data.title
                            if nextPrev && nextPrev.nextTask
                                .col-2.text-center
                                    a.btn.btn-secondary(href="/teacher/replies/view/" + nextPrev.nextTask)
                                        i.fa.fa-arrow-right

                        div.text-center
                            form(onsubmit='return false;')
                                .form-group
                                    label(for='selectLab') Wybierz grupy do sprawdzenia
                                    select.form-control#selectLab(name='labs', size='6', multiple)
                                        each lab in data.labs
                                            option(value=lab.id)= lab.name + ' - ' + lab.owner.fullName()
                                .form-group
                                    input.btn.btn-primary.getLabTasksButton(type='submit' data-id=data.id, value='Załaduj odpowiedzi')
block fluid
    .row.mb-2
        div#labs.col-12
