extends ../../includes/layout

block content

    .row
        .hidden-md-down.col-lg-4
            include ../menu
        .col-md-12.col-lg-8
            //-include tasks
            .card
                .card-header.text-center
                    strong Odpowiedzi #{student.fullName()}
                .card-body
                    string=task.title

                - var tests = [i18n('student.task.ms.notstarted'), i18n('student.task.ms.inqueue'), i18n('student.task.ms.super'), i18n('student.task.ms.note'), i18n('student.task.ms.notices'), i18n('student.task.ms.errors')]
                - var machineFix = [i18n('student.task.ts.pass'), i18n('student.task.ts.fail')]

                table.table.table-striped.table-hover.table-grouplist
                    thead
                        tr
                            th ID
                            th sT
                            th sM
                            th sB
                            th Data
                    tbody
                        if replies && replies.length!==0
                            each reply in replies
                                tr(onclick='window.location="/teacher/replies/reply/' + reply.id + '"', style='cursor: pointer')
                                    td=reply.id
                                    td=reply.teacherStatus
                                    td=tests[reply.machineStatus]
                                        if ![0, 1].includes(reply.machineStatus)
                                            | &nbsp;/&nbsp;
                                            =machineFix[reply.machineOk]
                                    td=reply.blocked
                                    td=reply.createdAt
