extends ../../includes/layout

block content
    #showContent.modal.fade
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5.modal-title=data.topic.number + '. ' + data.number + '. ' + data.title
                .modal-body
                    pre(style='white-space: pre-wrap;')=data.description[0].description
                .modal-footer
                    button.btn.btn-primary(type='button', data-dismiss='modal') Ok
    include ../../includes/commentblock_ajax
    .row
        .hidden-md-down.col-lg-4
            include ../menu
        .col-md-12.col-lg-8

            //-include tasks
            .card
                .card-header.text-center
                    strong Sprawdzanie odpowiedzi do zadań

                .card-block

                    .col-12
                        .row
                            if nextPrev && nextPrev.prevTopicTask
                                .col-2.text-center
                                    a.btn.btn-secondary.next-prev(href='/teacher/replies/view/' + nextPrev.prevTopicTask)
                                        i.fa.fa-arrow-left
                            else
                                .offset-2
                            .col-8
                                h2.text-center=data.topic.number + '. ' + data.topic.title
                            if nextPrev && nextPrev.nextTopicTask
                                .col-2.text-center
                                    a.btn.btn-secondary.next-prev(href='/teacher/replies/view/' + nextPrev.nextTopicTask)
                                        i.fa.fa-arrow-right
                        .row
                            if nextPrev && nextPrev.prevTask
                                .col-2.text-center
                                    a.btn.btn-secondary.next-prev(href='/teacher/replies/view/' + nextPrev.prevTask)
                                        i.fa.fa-arrow-left
                            else
                                .offset-2
                            .col-8
                                h3.text-center=data.number + '. ' + data.title
                            if nextPrev && nextPrev.nextTask
                                .col-2.text-center
                                    a.btn.btn-secondary.next-prev(href='/teacher/replies/view/' + nextPrev.nextTask)
                                        i.fa.fa-arrow-right

                        - data.labs.sort((a, b) => a.name.localeCompare(b.name))

                        div.text-center
                            label Tryb wyświetlania
                            select#getLabTasksMode(style='width:200px' autocomplete="off")
                                option(value='1') Wszyscy studenci
                                option(value='2') Tylko z przesłanymi programami
                                option(value='3') Tylko z nieocenionymi programami
                                option(value='4') Tylko z negatywną oceną wykładowcy
                                option(value='5') Tylko z negatywną oceną testu maszynowego
                                option(value='6') Tylko z pozytywną oceną testu maszynowego ale bez oceny wykładowcy


                        div(style='max-height:200px;overflow-y:auto')
                            table.table.table-striped.table-hover.table-sm#getLabTasks(data-task=data.id)
                                tbody(style='cursor: pointer')
                                    each lab in data.labs.filter(l => l.owner.id === localUser.id)
                                        tr(data-id=lab.id, data-name=lab.name, data-first=1)
                                            td
                                                span= lab.name + ' - ' + lab.owner.fullName()
                                    each lab in data.labs.filter(l => l.owner.id !== localUser.id)
                                        tr(data-id=lab.id, data-name=lab.name)
                                            td
                                                span= lab.name + ' - ' + lab.owner.fullName()

                        div.text-center
                            button.btn.btn-success(data-toggle="modal" data-target="#showContent") Treść zadania
block fluid
    .row.mb-2
        div#labs.col-12
