extends ../../includes/layout

block content
    if (message !== undefined && message && message.message && (message.message.length > 0 ))
        .alert(class='alert-' + message.attribute, role='alert')
            strong=i18n('settings.message')
            |  #{message.message}

    .row
        .col-md-12.col-lg-4
            include ../menu
        //.hidden-md-down.col-lg-8#tasks-column
            //-include tasks
        .col-md-12.col-lg-8
            .card
                .card-header
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link(href='/teacher/users')=i18n('teacher.listing')
                        li.nav-item
                            a.nav-link.active()=i18n('teacher.adding')
                .card-block
                    form(method='post')
                        .form-group.row
                            label.col-sm-4.col-form-label(for='inputFirstName')=i18n('register.firstname')
                            .col-sm-8
                                input#inputFirstName.form-control(type='text', placeholder=i18n('register.firstname.placeholder'), name='name', required, autofocus, value=(param ? param('name') : ''))
                        .form-group.row
                            label.col-sm-4.col-form-label(for='inputLastName')=i18n('register.lastname')
                            .col-sm-8
                                input#inputLastName.form-control(type='text', placeholder=i18n('register.lastname.placeholder'), name='sur', required, value=(param ? param('sur') : ''))
                        .form-group.row
                            label.col-sm-4.col-form-label(for='inputAlbum')=i18n('register.album')
                            .col-sm-8
                                input#inputAlbum.form-control(type='text', placeholder=i18n('register.album.placeholder'), name='album', required, value=(param ? param('album') : ''))
                        .form-group.row
                            label.col-sm-4.col-form-label=i18n('teacher.users.teacher')
                            .col-sm-8.form-check-custom
                                label.custom-control.custom-checkbox
                                    if (param && param('teacher'))
                                        input.custom-control-input#inputTeacher(type='checkbox', name='teacher' checked)
                                    else
                                        input.custom-control-input#inputTeacher(type='checkbox', name='teacher')
                                    span.custom-control-indicator
                                    span.custom-control-description=i18n('teacher.users.useris.%s', i18n('teacher.users.isteacher'))
                        div#notTeacher(style=(param && param('teacher') ? 'display: none' : ''))
                            .form-group.row
                                label.col-sm-4.col-form-label(for='inputGroupL')=i18n('register.labgroup')
                                .col-sm-8
                                    select#inputGroupL.custom-select(name='groupl', required)
                                        option(value=0)=i18n('teacher.users.none')
                                        each l in labs
                                            if param && param('groupl') === l.id.toString()
                                                option(value=l.id, selected)= l.name + l.owner.fullName()
                                            else
                                                option(value=l.id)= l.name + l.owner.fullName()
                        div#isTeacher(style=(param && param('teacher') ? '' : 'display: none'))
                            .form-group.row
                                label.col-sm-4.col-form-label=i18n('teacher.users.admin')
                                .col-sm-8.form-check-custom
                                    label.custom-control.custom-checkbox
                                        if (param && param('admin'))
                                            input.custom-control-input#inputAdmin(type='checkbox', name='admin' checked)
                                        else
                                            input.custom-control-input#inputAdmin(type='checkbox', name='admin')
                                        span.custom-control-indicator
                                        span.custom-control-description=i18n('teacher.users.useris.%s', i18n('teacher.users.isadmin'))
                        .form-group.row
                            label.col-sm-4.col-form-label(for='inputEmail')=i18n('register.email')
                            .col-sm-8
                                input#inputEmail.form-control(type='email', placeholder=i18n('register.email.placeholder'), name='email', required, value=(param ? param('email') : ''))
                        .form-group.row
                            label.col-sm-4.col-form-label(for='inputPassword')=i18n('register.password')
                            .col-sm-8
                                input#inputPassword.form-control(type='password', placeholder=i18n('register.password.placeholder'), name='pass', required)
                        .form-group.row
                            label.col-sm-4.col-form-label(for='inputRePassword')=i18n('register.repassword')
                            .col-sm-8
                                input#inputRePassword.form-control(type='password', placeholder=i18n('register.repassword.placeholder'), name='repass', required)
                        .form-group.row
                            label.col-sm-4.col-form-label=i18n('teacher.users.active')
                            .col-sm-8.form-check-custom
                                label.custom-control.custom-checkbox
                                    if (param && !param('active'))
                                        input.custom-control-input#inputActive(type='checkbox', name='active')
                                    else
                                        input.custom-control-input#inputActive(type='checkbox', name='active' checked)
                                    span.custom-control-indicator
                                    span.custom-control-description=i18n('teacher.users.useris.%s', i18n('teacher.users.isactive'))
                        input.btn.btn-primary(type='submit' value=i18n('teacher.tt.add'))

block scripts
    script.
        $('#inputTeacher').on('change', function () {
          if ($(this).is(':checked')) {
            $('#isTeacher').show()
            $('#inputAdmin').prop('checked', false)
            $('#inputGroupL').val('0')
            $('#notTeacher').hide()
          } else {
            $('#isTeacher').hide()
            $('#notTeacher').show()
          }
        })
