extends ../../includes/layout

block content
    .row
        .hidden-md-down.col-lg-4
            include ../menu
        .col-md-12.col-lg-8
            .card
                .card-header
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link.active()=i18n('teacher.listing')
                        li.nav-item
                            a.nav-link(href='/teacher/users/add')=i18n('teacher.adding')
                .card-header.nav-header-inner
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            if teachers
                                a.nav-link(href='/teacher/users') Studenci
                                    span.badge.badge-pill.badge-primary=count
                            else
                                a.nav-link.active Studenci
                                    span.badge.badge-pill.badge-primary=users.length
                        li.nav-item
                            if teachers
                                a.nav-link.active Prowadzący
                                    span.badge.badge-pill.badge-primary=users.length
                            else
                                a.nav-link(href='/teacher/users?teachers=true') Prowadzący
                                    span.badge.badge-pill.badge-primary=count
                table.table.table-striped.table-hover.table-responsive.table-grouplist.wb-initial#tabledata
                    thead
                        tr
                            th.text-nowrap=i18n('teacher.table.id')
                            th.w-100=i18n('teacher.table.fistlastname')
                            if teachers
                                th=i18n('teacher.table.groups')
                            th.no-sort
                            if teachers && localUser.isAdmin
                                th.no-sort.text.nowrap=i18n('teacher.table.admin')
                    tbody
                        each user in users
                            tr.usersSelectUser(data-id=user.id)
                                th(scope='row')=user.id
                                td=user.fullName(true)
                                if teachers
                                    td=user.labs
                                td
                                    if !user.isAdmin || (user.isAdmin && localUser.isAdmin)
                                        a.btn.btn-sm.btn-primary.editUserButton(href='#', data-id=user.id)=i18n('teacher.tt.edit')
                                if teachers && localUser.isAdmin
                                    td.text-center
                                        if user.isAdmin
                                            i.fa.fa-check.text-success
                                        else
                                            i.fa.fa-times.text-danger
block scripts
    script.
      $(document).ready(function () {
        $('#tabledata').DataTable({
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Polish.json"
          },
          columnDefs: [
            {targets: 'no-sort', orderable: false, searchable: false}
          ]
        });
      });
