extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4
            include ../menu
        //.hidden-md-down.col-lg-8#tasks-column
            //-include tasks
        .col-md-12.col-lg-8
            .card
                .card-header
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link.active()=i18n('teacher.listing')
                        li.nav-item
                            a.nav-link(href='/teacher/users/add')=i18n('teacher.adding')

                table.table.table-striped.table-hover.table-responsive.table-grouplist.wb-initial
                    thead
                        tr
                            th.text-nowrap(style='width:50px')=i18n('teacher.table.id')
                            th(style="width:72%;")=i18n('teacher.table.fistlastname')
                            th(style="width:15%;")
                            th Nauczyciel
                            th Admin
                    tbody#tablebody
                        each user in users
                            -var id= user.id
                            tr(onclick='selectTopic(' + user.id + ')', style='cursor: pointer;')
                                th(scope='row')=user.id
                                td
                                    a(href="#" style="text-decoration:none; color:#373a3c;")=user.fullName()
                                td
                                    button.btn.btn-sm.btn-primary.editTopicButton(data-id=id) edytuj
                                if user.isTeacher
                                    td
                                        i.fa.fa-check(style="color:#64DD17;")
                                else
                                    td
                                        i.fa.fa-times(style="color:#d9534f;")
                                if user.isAdmin
                                    td
                                        i.fa.fa-check(style="color:#64DD17;")
                                else
                                    td
                                        i.fa.fa-times(style="color:#d9534f;")




