extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4
            include ../menu
        //.hidden-md-down.col-lg-8#tasks-column
            //-include tasks
        .col-md-12.col-lg-8
            .card
                .card-header
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link.active()=i18n('teacher.listing')
                        li.nav-item
                            a.nav-link(href='/teacher/users/add')=i18n('teacher.adding')

                table.table.table-striped.table-hover.table-responsive.table-grouplist.wb-initial
                    thead
                        tr
                            th.text-nowrap=i18n('teacher.table.id')
                            th.w-100=i18n('teacher.table.fistlastname')
                            th
                            th.text-nowrap Nauczyciel
                            th.text.nowrap Admin
                    tbody
                        each user in users
                            tr.usersSelectUser(data-id=user.id)
                                th(scope='row')=user.id
                                td=user.fullName()
                                td
                                    a.btn.btn-sm.btn-primary.editUserButton(href='#', data-id=user.id) edytuj
                                td.text-center
                                    if user.isTeacher
                                        i.fa.fa-check.text-success
                                    else
                                        i.fa.fa-times.text-danger
                                td.text-center
                                    if user.isAdmin
                                        i.fa.fa-check.text-success
                                    else
                                        i.fa.fa-times.text-danger




