extends ../../includes/layout

mixin topicentry(data, percent)
    .card.list-group-item
        .w-100
            .d-flex.w-100.justify-content-between.mb-2
                h5.mb-2.mr-2.topic-title=data.topicNumber + '. ' + data.topicTitle +' ('+data.taskCount+')'



            small.text-muted

            .progress.w-100
                if percent < 37
                    .progress-bar.bg-danger(role='progressbar', aria-valuenow=percent, aria-valuemin='0', aria-valuemax='100', style='width: ' + percent + '%')
                else if percent < 75
                    .progress-bar.bg-warning(role='progressbar', aria-valuenow=percent, aria-valuemin='0', aria-valuemax='100', style='width: ' + percent + '%')
                else
                    .progress-bar.bg-success(role='progressbar', aria-valuenow=percent, aria-valuemin='0', aria-valuemax='100', style='width: ' + percent + '%')

        .w-100
            table.table-bordered.table.table-sm
                thead
                    tr
                        th Przesłane
                        th Zaakceptowane
                        th Odrzucone
                        th Z pozytywnym testem
                        th Zablokowane
                        th Zatwierdzone
                tbody
                    tr
                        td=data.repliesCount
                        td=data.repliesTeacherAccepted
                        td=data.repliesTeacherRejected
                        td=data.repliesMachineAccepted
                        td=data.repliesBlocked
                        td=data.repliesAccepted

block content
    if (message !== undefined && message && message.message && (message.message.length > 0 ))
        .alert(class='alert-' + message.attribute, role='alert')
            strong=i18n('settings.message')
            |  #{message.message}

    .row
        .hidden-md-down.col-lg-4
            include ../menu
        .col-md-12.col-lg-8
            .card
                .card-header.d-flex.justify-content-between
                    a.btn.btn-primary.btn-sm(href='/teacher/users/edit/' + user.id)=i18n('teacher.tt.edit')
                    strong Podgląd użytkownika
                    button.deleteTaskButton.btn.btn-danger.btn-sm(data-id=user.id)=i18n('teacher.tt.remove')

                .card-block
                    h1.text-center= user.fullName()
                    h2.text-center= user.email
                    if user.isTeacher
                        ul
                            li
                                b Nauczyciel:&nbsp;
                                i.fa.fa-check(style="color:#64DD17;")
                            if user.isAdmin
                                li
                                    b Admin:&nbsp;
                                    i.fa.fa-check(style="color:#64DD17;")
                            else
                                li
                                    b Admin:&nbsp;
                                    i.fa.fa-times(style="color:#d9534f;")
                            li
                                b LabGrupy:
                                strong  !{labs.map(l => '<a href=\'/teacher/labgroup/view/' + l.id +'\'>' + l.name + '</a>').join(', ')}
                    else
                        ul
                            li
                                b Nr. albumu: #{user.album}
                            li
                                b Lab grupa:&nbsp;
                                    if user.labGroups[0]
                                        =user.labGroups[0].name
                                    else
                                        | Brak
                        .card
                            - var accepted = _.sum(_.values(topics.map(t => t.repliesAccepted)))
                            - var all = _.sum(_.values(topics.map(t => t.taskCount)))
                            - var percent = accepted / all * 100
                            .card-header
                                strong Ogólny postęp
                            .card-block
                                .well Zaakceptowanych #{accepted} odpowiedzi z #{all} zadań
                                .progress.w-100
                                    if percent < 37
                                        .progress-bar.bg-danger(role='progressbar', aria-valuenow=percent, aria-valuemin='0', aria-valuemax='100', style='width: ' + percent + '%')
                                    else if percent < 75
                                        .progress-bar.bg-warning(role='progressbar', aria-valuenow=percent, aria-valuemin='0', aria-valuemax='100', style='width: ' + percent + '%')
                                    else
                                        .progress-bar.bg-success(role='progressbar', aria-valuenow=percent, aria-valuemin='0', aria-valuemax='100', style='width: ' + percent + '%')

                        each t in topics
                                +topicentry(t, t.repliesAccepted / t.taskCount * 100)