extends ../../includes/layout

block content
    if (message !== undefined && message && (message.length > 0 ))
        .alert.alert-danger(role='alert')
            strong=i18n('settings.message')
            |  #{message}

    .row
        .col-md-12.col-lg-4
            include ../menu
        .col-md-12.col-lg-8
            .card
                .card-header
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link(href='/teacher/labgroup/list')=i18n('teacher.listing')
                        li.nav-item
                            a.nav-link.active()=i18n('teacher.adding')
                .card-block
                    .container
                        form(method='post')
                            .form-group.row
                                label.col-sm-3.col-form-label(for='inputTitle')=i18n('teacher.labs.name')
                                .col-sm-9
                                    input#inputTitle.form-control(type='text', name='title')
                            .form-group.row
                                label.col-sm-3.col-form-label(for='inputDescription')=i18n('teacher.labs.description')
                                .col-sm-9
                                    input#inputDescription.form-control(type='text', name='desc')
                            .form-group.row
                                label.col-sm-3=i18n('teacher.tt.visibility')
                                .col-sm-9
                                    .form-check
                                        label.form-check-label
                                            input.form-check-input(id='active', type='checkbox', name='active')
                                            label(for='active')=i18n('teacher.table.visible')
                            .form-group.row
                                label.col-sm-3.col-form-label(for='inputOwner')=i18n('teacher.labs.teacher')
                                .col-sm-9
                                    select.form-control#inputOwner(name='owner')
                                        for user in users
                                            if user.id === localUser.id
                                                option(value=user.id, selected)= user.fullName()
                                            else
                                                option(value=user.id)= user.fullName()
                            .form-group.row
                                .col-sm-12
                                    button.btn.btn-primary(type='submit')=i18n('teacher.tt.add')