extends ../../includes/layout

block content

    #confirmModal.modal.fade
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Czy na pewno chcesz skasować tę grupę laboratoryjną?
                    button.close(type='button', data-dismiss='modal', aria-label='Anuluj')
                        span(aria-hidden='true') ×
                .modal-body
                    | Skasowanie grupy spowoduje zablokowanie wszystkich znajdujących sie w niej studentów do czasu ich ponownego przypisania do innej grupy.
                .modal-footer
                    form(action='/teacher/labgroup/del', method='post')
                        input(type='hidden', name='id', value=data.id)
                        button.btn.btn-danger(type='submit') Skasuj
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Anuluj

    if (message !== undefined && message &&  message.message && (message.message.length > 0 ))
        .alert(class='alert-'+message.attribute, role='alert')
            strong=i18n('settings.message')
            |  #{message.message}

    .row
        .hidden-md-down.col-lg-4
            include ../menu
        .col-md-12.col-lg-8
            .card
                .card-header.text-center
                    strong #{data.name} - Edycja grupy
                .card-block
                    .container
                        form(method='post')
                            .form-group.row
                                label.col-sm-3.col-form-label(for='inputTitle')=i18n('teacher.labs.name')
                                .col-sm-9
                                    input#inputTitle.form-control(type='text', name='title', value=data.name)
                            .form-group.row
                                label.col-sm-3.col-form-label(for='inputDescription')=i18n('teacher.labs.description')
                                .col-sm-9
                                    input#inputDescription.form-control(type='text', name='desc', value=data.description)
                            .form-group.row
                                label.col-sm-3=i18n('teacher.tt.visibility')
                                .col-sm-9
                                    .form-check
                                        label.form-check-label
                                        if data.active
                                            input.form-check-input(id='active', type='checkbox', name='active', checked)
                                        else
                                            input.form-check-input(id='active', type='checkbox', name='active')
                                        label(for='active')=i18n('teacher.table.visible')

                            .form-group.row
                                label.col-sm-3.col-form-label(for='inputOwner')=i18n('teacher.labs.teacher')
                                .col-sm-9
                                    select.form-control#inputOwner(name='owner')
                                        for user in users
                                            if user.id === data.owner
                                                option(value=user.id, selected)= user.fullName()
                                            else
                                                option(value=user.id)= user.fullName()
                            .form-group.row
                                .col-sm-10
                                    button.btn.btn-primary(type='submit')=i18n('teacher.tt.edit')
                                .col-sm-2
                                    button.btn.btn-danger(id='delete-confirm', type='button')=i18n('teacher.tt.remove')

block scripts
    script.
        $('#delete-confirm').click(function (){
            $('#confirmModal').modal()
        })