extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4
            include ../menu
        .col-md-12.col-lg-8
            .card
                .card-header
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link.active()=i18n('teacher.listing')
                        li.nav-item
                            a.nav-link(href='/teacher/labgroup/add')=i18n('teacher.adding')
                .card-block
                    if show
                        a.btn.btn-primary(href='/teacher/labgroup/list') Pokaż tylko moje grupy
                    else
                        a.btn.btn-primary(href='/teacher/labgroup/list?show=all') Pokaż wszystkie grupy
                table.table.table-striped.table-hover.responsive.table-grouplist
                    thead
                        tr
                            th ID
                            th Nazwa
                            th Status
                            th Studentów
                            th Studentów oczekujących
                            th Prowadzący
                    tbody
                        if data && data.length !== 0
                            each group in data
                                tr(onclick='document.location="/teacher/labgroup/view/'+group.id+'"')
                                    th(scope='row')=group.id
                                    td=group.name
                                    td=group.active ? 'Widoczna' : 'Niewidoczna'
                                    td=group.studentsCount
                                    td=group.studentsNotCount
                                    td=group.ownerName + ' ' + group.ownerSurname
                        else
                            tr
                                td.text-center(colspan=6) Brak grup laboratoryjnych w bazie, dodaj jakąś opcjami na górze