extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4#topics-column
            include ../menu
        .hidden-md-down.col-lg-8#tasks-column
            //-include tasks
            div.d-flex.justify-content-center
                .col-12
                    h2.text-center
                        | :: [Listowanie] ::
                        a(href='/teacher/labgroup/add')  [Dodawanie]
                        |  ::
                    if show
                        a(href='/teacher/labgroup/list') Pokaż tylko moje grupy
                    else
                        a(href='/teacher/labgroup/list?show=all') Pokaż wszystkie grupy
                    table.table.table-striped.table-hover.responsive
                        thead
                            tr
                                th ID
                                th Name
                                th Active
                                th Students
                                th Students Awaiting
                                th Teacher
                        tbody
                            each group in data
                                tr(onclick='document.location="/teacher/labgroup/view/'+group.id+'"')
                                    th(scope='row')=group.id
                                    td=group.name
                                    td=group.active
                                    td=group.studentsCount
                                    td=group.studentsNotCount
                                    td=group.name + ' ' + group.surname

                    h5.text-center nazwa grupy :: liczba studentow :: liczba nowych odpowiedzi
