extends ../../includes/layout

block content

    .row
        .col-md-12.col-lg-4#topics-column
            include ../menu
        .hidden-md-down.col-lg-8#tasks-column
            .card
                .card-header
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link.active() Wyświetlanie
                        li.nav-item
                            a.nav-link(href='/teacher/labgroup/add') Dodawanie
                .card-block
                    if show
                        a.btn.btn-primary(href='/teacher/labgroup/list') Pokaż tylko moje grupy
                    else
                        a.btn.btn-primary(href='/teacher/labgroup/list?show=all') Pokaż wszystkie grupy
                table.table.table-striped.table-hover.responsive.table-grouplist
                    thead
                        tr
                            th ID
                            th Name
                            th Active
                            th Students
                            th Students Awaiting
                            th Teacher
                    tbody
                        each group in data
                            tr(onclick='document.location="/teacher/labgroup/view/'+group.id+'"')
                                th(scope='row')=group.id
                                td=group.name
                                td=group.active
                                td=group.studentsCount
                                td=group.studentsNotCount
                                td=group.name + ' ' + group.surname