extends ../../includes/layout

block content
    if (message !== undefined && message && message.message && (message.message.length > 0 ))
        .alert(class='alert-' + message.attribute, role='alert')
            strong=i18n('settings.message')
            |  #{message.message}

    .row
        .hidden-md-down.col-lg-4
            include ../menu
        .col-md-12.col-lg-8
            .card
                .card-header
                    .text-center
                        strong=data.name
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link.active() Studenci
                        li.nav-item
                            a.nav-link(href='/teacher/labgroup/view/' + data.id + '/topics') Tematy
                .card-block
                    form(method='post').form-inline.mb-0.mb-sm-2
                        label.mr-sm-2(for='message') Wiadomość:
                        input.form-control.mb-2.mr-sm-2.mb-sm-0#message(name='message', value=data.message)
                        input.btn.btn-primary.mb-2.mr-sm-2.mb-sm-0(type='submit', value='Ustaw')
                        a.btn.btn-primary.mb-2.mr-sm-2.mb-sm-0(href='/teacher/labgroup/edit/' + data.id + '/') Edytuj grupę
                    strong Opis
                    div=data.description

                .card-header.nav-header-inner
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link.active() Aktywni
                                span.badge.badge-pill.badge-primary=data.students.length
                        li.nav-item
                            a.nav-link(href='/teacher/labgroup/view/' + data.id + '/new') Oczekujący
                                span.badge.badge-pill.badge-primary=data.notActive
                .table-responsive
                    table.table.table-striped.table-hover.table-grouplist.wb-initial
                        thead
                            tr
                                th ID
                                th.w-100 Student
                                th Album
                                th Opcje
                        tbody
                            if data.students.length === 0
                                tr
                                    td.text-center(colspan='4') Brak studentów w grupie
                            each student in data.students
                                tr
                                    th(scope='row', style='cursor: pointer', onclick='window.location="/teacher/users/profile/' + student.student.id + '"')=student.student.id
                                    td.wb-breakword.mw-200px(style='cursor: pointer', onclick='window.location="/teacher/users/profile/' + student.student.id + '"')=student.student.fullName(true)
                                    td=student.student.album
                                    td
                                        a.btn.btn-sm.btn-danger(href='?deactive=' + student.student.id) Deaktywuj
