extends ../../includes/layout

block content
    if (message !== undefined && message && message.message && (message.message.length > 0 ))
        .alert(class='alert-' + message.attribute, role='alert')
            strong Wiadomość:
            |  #{message.message}

    .row
        .col-md-12.col-lg-4
            include ../menu
        .col-md-12.col-lg-8
            .card
                .card-header
                    .text-center
                        strong=data.name
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link.active() Studenci
                        li.nav-item
                            a.nav-link(href='/teacher/labgroup/view/' + data.id + '/topics') Tematy
                .card-block
                    form(method='post').form-inline.mb-0.mb-sm-2
                        label.mr-sm-2(for='message') Wiadomość:
                        input.form-control.mb-2.mr-sm-2.mb-sm-0#message(name='message', value=data.message)
                        input.btn.btn-primary.mb-2.mr-sm-2.mb-sm-0(type='submit', value='Ustaw')
                        a.btn.btn-primary.mb-2.mr-sm-2.mb-sm-0(href='/teacher/labgroup/edit/' + data.id + '/') Edytuj grupę
                .card-header.nav-header-inner
                    ul.nav.nav-tabs.nav-fill.task-tab
                        li.nav-item
                            a.nav-link.active() Aktywni
                                span.badge.badge-pill.badge-primary=data.students.length
                        li.nav-item
                            a.nav-link(href='/teacher/labgroup/view/' + data.id + '/new') Oczekujący
                                span.badge.badge-pill.badge-primary=data.notActive
                .card-block
                    table.table.table-striped.table-hover.responsive.table-grouplist
                        thead
                            tr
                                th ID
                                th Student
                                th Album
                                th Opcje
                        tbody
                            if data.students.length === 0
                                tr
                                    td.text-center(colspan='4') Brak studentów w grupie
                            each student in data.students
                                tr
                                    th(scope='row')=student.student.id
                                    td=student.student.fullName()
                                    td=student.student.album
                                    td
                                        a.btn.btn-sm.btn-danger(href='?deactive=' + student.student.id) Deaktywuj
