extends ../includes/layout
mixin fileIcon(file)
    div.col-6.col-md-4.col-lg-2.mb-4(onclick='loadFileContent('+file.reply+','+file.id+')', style='cursor:pointer')
        p
            if file.fileExt === 'cpp' || file.fileExt === 'h' || file.fileExt === 'c'
                i.fa.fa-file-code-o.fa-3x
            else if file.fileExt === 'bmp' || file.fileExt === 'png' || file.fileExt === 'jpg'
                i.fa.fa-file-image-o.fa-3x
            else if file.fileExt === 'txt'
                i.fa.fa-file-text-o.fa-3x
            else
                i.fa.fa-file-o.fa-3x
        code=file.fileName + '.' + file.fileExt

mixin commentBlock(com, hidden)
    .list-group-item.list-group-item-action.flex-column.align-items-start(style=(hidden ? 'display: none;': ''))
        .d-flex.w-100.justify-content-between
            h5.mb-1
                strong.task-c-author=(com.user ? com.user.fullName() : '')
                span &nbsp;napisał(a):
            small.text-muted.task-c-timestamp= com.createdAt
        p.mb-1.task-c-comment= com.comment
        if !com.viewed
            small.text-muted.task-c-read false
        else
            small.text-muted.task-c-read true
block content

    #fileContentModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='fileContentModalTitle', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    h5#fileContentModalTitle.modal-title Plik
                    button.close(type='button', data-dismiss='modal', aria-label='Zamknij')
                        span(aria-hidden='true') ×
                #fileContentModalBody.modal-body
                    | Loading
                .modal-footer
                    button#fileContentModalReplace.btn.btn-success Zastąp
                    a#fileContentModalDownload.btn.btn-warning Pobierz
                    button#fileContentModalRemove.btn.btn-danger Skasuj
                    button.btn.btn-primary(data-dismiss='modal') Zamknij

    #confirmModal.modal.fade
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#confirmModalTitle.modal-title Info
                    button.close(type='button', data-dismiss='modal', aria-label='Anuluj')
                        span(aria-hidden='true') ×
                #confirmModalBody.modal-body
                    | Tyrytytyty
                .modal-footer
                    div#confirmModalButtons
                        button.btn.btn-primary(type='button') Save changes
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Anuluj


    .card
        .card-header
            ul.nav.nav-tabs.nav-fill.task-tab
                li.nav-item
                    a.nav-link.active(data-toggle='tab', href='#task', aria-expanded='true') Zadanie
                li.nav-item
                    a.nav-link(data-toggle='tab', href='#files', aria-expanded='false') Pliki
                li.nav-item
                    a.nav-link(data-toggle='tab', href='#comments', aria-expanded='false') Komentarze
                        if taskComments && taskComments.length > 0
                            span.badge.badge-pill.badge-primary= taskComments.length

        .card-block
            #myTabContent.tab-content
                #task.tab-pane.fade.in.active.show(aria-expanded='true')
                    //-h1 Topic: #{topic.id}
                    h3 Temat: #{topic.number}. #{task.number}. #{task.title}
                    h5 Termin dostarczenia: #{deadline}
                    h5 Opis tematu:
                    .card
                        #task-content.card-block!= task.description

                #files.tab-pane.fade(aria-expanded='false')
                    if !taskReply
                        h1 nie ma
                    else
                        //-
                            h1 Task reply student: #{taskReply.student}
                            h1 Task reply task: #{taskReply.task}
                            h1 Task reply teacherStatus: #{taskReply.teacherStatus}
                            h1 Task reply machineStatus: #{taskReply.machineStatus}
                        .card.text-center
                            .card-header
                                | A: #{taskReply.student} B: #{taskReply.task}
                                | C: #{taskReply.teacherStatus} D: #{taskReply.machineStatus}
                            .card-block
                                .row
                                    each file in taskReplyFiles
                                        +fileIcon(file)

                            if !taskReply.sent
                                .card-footer.text-muted
                                    if deadlineCanSend
                                        form(action='/topic/' + topic.id + '/task/' + task.id + '/uploadFile/', enctype='multipart/form-data', method='post')
                                            label.custom-task-file
                                                input#file.custom-task-file-input(type='file', name='files', accept='.c,.cpp,.h,.hpp,.inc,.txt,.bmp,.png', multiple)
                                                span.custom-task-file-control(lang='pl')
                                            | &nbsp;
                                            input.btn.btn-primary(type='submit', value='Wyślij pliki')
                                            small.form-text.text-muted
                                                // TODO: Seba dodaj walidacje wielkości każdego pliku przez javascripta
                                                | Dopuszczalne rozszerzenia: c, cpp, h, hpp, inc, txt, bmp, png. Wielkość pliku nie może przekraczać 100 KB.
                                        if taskReplyFiles && taskReplyFiles.length > 0
                                            hr.taskReplyConfirm
                                            button#sendReply.btn.btn-success(data-topic=topic.id, data-task=task.id) Zatwierdź rozwiązanie
                                    else
                                        small.form-text.text-muted Upłynął termin przesyłania odpowiedzi

                #comments.tab-pane.fade(aria-expanded='false')
                    //h1 Task comments: #{taskComments[0].reply}
                    #commentAjaxTemplate
                        +commentBlock({}, true)

                    .list-group.mb-3#commentArea
                        - var allviewed = true
                        - var lastid = 1
                        - var i = 1
                        each com in taskComments
                            +commentBlock(com)
                            if i === taskComments.length
                                - lastid = com.id
                                //- console.log(lastid)
                            if !com.viewed
                                - allviewed = false
                            - i++
                        button.list-group-item.list-group-item-action.active.task-comment-markread.justify-content-center#commentMarkAsRead(style=(allviewed ? 'display: none;' : '')) Oznacz wszystko jako przeczytane
                    .input-group
                        textarea.form-control.task-comment-textarea#commentTextArea(type='text', placeholder='Komentarz', name='comment', rows='1')
                        span.input-group-btn
                            button.btn.btn-primary#commentSendButton(type='button') Wyślij

                    //-.form-group.mb-0
                        textarea#exampleTextarea.form-control(rows='1', placeholder='Komentarz')


                    //-.card
                        button(onclick='markAsRead(' + top + ',' + tas + ',' + tasRep + ')')
                            | elo
                        div#allComments

                            h1 User add:
                            h1 comment:
                            p createdAt:


                        textarea#theComment(name='comment')
                        button(onclick='sendComment(' + top + ',' + tas + ',' + tasRep + ')') send
                    script
                      | var tData = {
                      |     'top': #{topic.id},
                      |     'tas': #{task.id}
                      | }
                      |

    script.
        var task = #{task.id},
          lastComment = #{lastid},
          replySent = #{taskReply.sent}
