mixin topiclist(tooltip, value, color)
    if color === undefined
        - var color = 'primary'
    li.list-group-item.flex-nowrap
        span.badge.badge-pill.taskcount(class='badge-' + color)= value
        | #{tooltip}

mixin topicentry(id, title, percent, values)
    .card.list-group-item.list-group-item-hover.flex-column.align-items-start.topic-entry.collapsed(data-toggle='collapse', data-parent='#topics-accordion', href='#topic-collapse-' + id, aria-expanded='false', aria-controls='topic-collapse-' + id, id="topic-a-" + id)
        .w-100(id='topic-entry-' + id, role='tab')
            a
                //-(href='/account/topics/'+ id + '/tasks')
                .d-flex.w-100.justify-content-between.mb-2
                    h5.mb-2.mr-2.topic-title=title
                    button.btn.btn-secondary.align-self-start.button-topicview(id='button-topicview-' + id, data-topicid=id)
                        i.fa.fa-arrow-right(aria-hidden='true')



                small.text-muted

                .progress.w-100
                    if percent < 37
                        .progress-bar.bg-danger(role='progressbar', aria-valuenow=percent, aria-valuemin='0', aria-valuemax='100', style='width: ' + percent + '%')
                    else if percent < 75
                        .progress-bar.bg-warning(role='progressbar', aria-valuenow=percent, aria-valuemin='0', aria-valuemax='100', style='width: ' + percent + '%')
                    else
                        .progress-bar.bg-success(role='progressbar', aria-valuenow=percent, aria-valuemin='0', aria-valuemax='100', style='width: ' + percent + '%')

        .collapse.w-100(id='topic-collapse-' + id, role='tabpanel', aria-labelledby='topic-entry-' + id)
            ul.list-group.w-100.mt-2
                +topiclist(i18n('student.topics.available'), values[0])
                +topiclist(i18n('student.topics.sent'), values[1], 'info')
                +topiclist(i18n('student.topics.accepted'), values[2],'success')
                +topiclist(i18n('student.topics.rejected'), values[3] , 'danger')
                +topiclist(i18n('student.topics.warning'), values[4], 'warning')
                +topiclist(i18n('student.topics.ms.pass'), values[5], 'success')
                +topiclist(i18n('student.topics.ms.fail'), values[6], 'danger')
                +topiclist(i18n('student.topics.passed'), values[7], 'success')
script#tmplTableTasks(type='text/x-jsrender')
    table.table.table-striped.table-hover.table-responsive.table-tasklist
        thead
            tr
                th=i18n('student.topics.tasknumber')
                th=i18n('student.topics.tasktitle')
                th.text-center(data-toggle='tooltip', data-placement='top', title=i18n('student.topics.taskfs'), data-original-title=i18n('student.topics.taskfs')) fS
                th.text-center(data-toggle='tooltip', data-placement='top', title=i18n('student.topics.taskftc'), data-original-title=i18n('student.topics.taskftc')) fTC
                th.text-center(data-toggle='tooltip', data-placement='top', title=i18n('student.topics.taskst'), data-original-title=i18n('student.topics.taskst')) sT
                th.text-center(data-toggle='tooltip', data-placement='top', title=i18n('student.topics.tasksm'), data-original-title=i18n('student.topics.tasksm')) sM
                th.text-center(data-toggle='tooltip', data-placement='top', title=i18n('student.topics.tasksb'), data-original-title=i18n('student.topics.tasksb')) sB
                th=i18n('student.topics.taskdeadline')
        tbody#tasks-tbody


.list-group#topics-accordion(role='tablist', aria-multiselectable='true')
    //-code=JSON.stringify(data)
    each t in data.topics
        +topicentry(t.topicId, t.topicNumber + '. ' + t.topicTitle, t.repliesAccepted / t.taskCount * 100, [t.taskCount, t.repliesCount, t.repliesTeacherAccepted, t.repliesTeacherRejected + t.repliesBlocked, t.repliesCommented, t.repliesMachineAccepted, t.repliesMachineRejected, t.repliesAccepted])



